<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>

    <!-- 

      ** !IMPORTANT! **



      Be mindful that the connection information you enter in these will be available to anyone with access to this file.

      Do not push changes to this file to a cloned GitHub repository.
 

    -->

    <!--Online using Office 365-->

    <add name="Connect" connectionString="Url=https://yourorgname.crm.dynamics.com; Username=you@yourorg.onmicrosoft.com; Password=password; authtype=Office365; RequireNewInstance=True"/>


  </connectionStrings>
</configuration>